<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-Test1" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>Test1</name>
<js-module name="Test1" src="www/Test1.js">
<clobbers target="cordova.plugins.Test1" />
</js-module><platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="Test1"><param name="android-package" value="cordova.plugin.Test1.Test1" /></feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml"></config-file>
<source-file src="src/android/Test1.java" target-dir="src/cordova/plugin/Test1/Test1" />
 <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
  
     
      <resource-file src="src/android/helloworldlib.aar" target="libs/helloworldlib.aar"/>
</platform>
</plugin>